<div>
<%if !@messages.nil?%>
<%if !@messages.find_by(id:message.id-1).nil? %>
	<%if @messages.find_by(id:message.id-1).user.name == message.user.name%>
		<%=message.body%>
	<%else%>
		<h2><%=message.user.name%></h2>
		<hr> 
		<%=message.body%>
	<%end%>
<%else%>
	<h2><%=message.user.name%></h2>
	<hr>
	<%=message.body%>
<%end%>
<br>
<%else%>
<%if message.user.id==Message.find_by(id:message.id-1).user.id%>
<%=message.body%>
<%else%>
	<h2><%=message.user.name%></h2>
	<hr> 
	<%=message.body%>
<%end%>
<%end%>
</div>