<%real_current_user=current_user%>
<%=real_current_user%>
<%if !@messages.nil?%>
<%if !@messages.find_by(id:message.id-1).nil? %>
	<%if @messages.find_by(id:message.id-1).user.name == message.user.name%>
		<div class="<%='right' if real_current_user==message.user%>"><%=message.body%></div>
	<%else%>
		<div class="<%='right' if real_current_user==message.user%>">
			<h2><%=message.user.name%></h2>
			<%=message.body%>
		</div>
	<%end%>
<%else%>
	<div class="<%='right' if real_current_user==message.user%>">
	<h2><%=message.user.name%></h2>
	<%=message.body%>
	</div>
<%end%>
<br>
<%else%>
<%if !Message.find_by(id:message.id-1).nil?%>
<%if message.user.id==Message.find_by(id:message.id-1).user.id%>
		<div class="<%='right' if real_current_user==message.user%>">
		<%=message.body%>
		</div>
<%else%>
	<div class="<%='right' if real_current_user==message.user%>">
			<h2><%=message.user.name%></h2>
			<%=message.body%>
	</div>
<%end%>
<%else%>
	<div class="<%='right' if real_current_user==message.user%>">
			<h2><%=message.user.name%></h2>
			<%=message.body%>
	</div>
<%end%>
<%end%>