<%if !Message.find_by(id:message.id-1).nil?%>
	<%if message.user.id==Message.find_by(id:message.id-1).user.id%>
		<div class="<%='right' if current_user==message.user%>">
		<%=message.body%>
		</div>
	<%else%>
		<div class="<%='right' if current_user==message.user%>">
			<h2><%=message.user.name%></h2>
			<%=message.body%>
		</div>
	<%end%>
<%else%>
	<div class="<%='right' if current_user==message.user%>">
		<h2><%=message.user.name%></h2>
		<%=message.body%>
	</div>
<%end%>