<!DOCTYPE html>
<html>
  <head>
  <%= include_sync_config %>

    <title>Chatapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag Sync.adapter_javascript_url %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
